*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a2a2a;
}

.container{
    height: 100px;
    width: 100px;
    /* background-image: url(plus.svg); */
    /* border: 1px solid red; */
    position: relative;
}

.box{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.red{
    background-color: red;
    top: 15px;
    left: 45px;
    animation-name: redbox;
}

.green{
    background-color: rgb(42, 222, 42);
    top: 45px;
    left: 75px;
    animation-name: greenbox;
}
.blue{
    background-color: blue;
    top: 75px;
    left: 45px;
    animation-name: bluebox;
}

.yellow{
    background-color: yellow;
    top: 45px;
    left: 15px;
    animation-name: yellowbox;
}


/* =============Animation========= */

@keyframes redbox {
    0%{
        top: 15px;
        left: 45px;
    }
    25%{
        top: 45px;
        left: 75px;
    }
    50%{
        top: 75px;
        left: 45px;
    }
    75%{
        top: 45px;
        left: 15px;
    }
    100%{
        top: 15px;
        left: 45px;
    }
}

@keyframes greenbox {
    0%{
        top: 45px;
        left: 75px;
    }
    25%{
        top: 75px;
        left: 45px;
    }
    50%{
        top: 45px;
        left: 15px;
    }
    75%{
        top: 15px;
        left: 45px;
    }
    100%{
        top: 45px;
        left: 75px;
    }
}


@keyframes bluebox {
    0%{
        top: 75px;
        left: 45px;
    }
    25%{
        top: 45px;
        left: 15px;
    }
    50%{
        top: 15px;
        left: 45px;
    }
    75%{
        top: 45px;
        left: 75px;
    }
    100%{
        top: 75px;
        left: 45px;
    }
}


@keyframes yellowbox {
    0%{
        top: 45px;
        left: 15px;
    }
    25%{
        top: 15px;
        left: 45px;
    }
    50%{
        top: 45px;
        left: 75px;
    }
    75%{
        top: 75px;
        left: 45px;
    }
    100%{
        top: 45px;
        left: 15px;
    }
}